ENVIRONMENT=development
SERVICE_NAME=neuraclinic-records
PORT=8000

DB_HOST=neuraclinic-records-db
DB_PORT=5432
DB_USER=postgres
DB_PASS=example
DB_NAME=neuraclinic-records
DB_SSLMODE=disable

GRPC_TLS_CERT_PATH=/app/certs/public_key.pem
GRPC_TLS_KEY_PATH=/app/certs/private_key.pem

FILE_MANAGEMENT_GRPC_ADDR=neuraclinic-file-management:8000
FILE_MANAGEMENT_GRPC_TLS_ENABLED=true
FILE_MANAGEMENT_GRPC_CA_CERT_PATH=/app/file-management-certs/local_ca_cert.pem
FILE_MANAGEMENT_GRPC_INSECURE_SKIP_VERIFY=false

PAGINATION_LIMIT_DEFAULT=10
PAGINATION_LIMIT_MAX=100

